    <!-- Blog Intro Section -->
    <section id="blog" class="content-section text-center">
        <div class="blog-info-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Development Blog</h2>
                    <p>Read our blog for latest game develope updates and progress.</p>
                    <a href="/blog" class="btn btn-default btn-lg">Visit Blog</a>
                </div>
            </div>
        </div>
    </section>