    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Sector:72</h1>
                        <p class="intro-text">A first person game set on a space station in the distant future. Players automate manufacturing, research technologies, explore space and trade on a global market to amass wealth and become the most influential enterprise in the galaxy.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>