body {
	background-color: red;
	background-image: url('/bundles/bhdsplash/images/bg.png');
}

.container {
	font-family: 'Fauna One', serif;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	text-align: center;
}

/*.container > .logo {
	margin-left: 8px;
}*/

#port { 
	overflow:show; 
	width:330px; 
	height:100px;
	position: relative;
}
.parallax-layer { position:absolute; left: 20px; }